@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(56, 56, 61);
    background: linear-gradient(0deg, rgb(27, 27, 27) 1%, rgb(24, 24, 24) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;
    color: #FFF;
    margin: 20px 0;
}


.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchInput {
    margin-left: 50px;
    height: 60px;
    background: none;
    border: none;
    outline: none;
    width: 550px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #5b5fc7;
}

#searchInput::placeholder {
    color: #868686;
    font-size: 16px;
}

#searchInput:focus {
    border-bottom: 2px solid #5b5fc7;
}

#searchInput:hover {
    border-bottom: 2px solid #5b5fc7;
}


.busca button {
    position: relative;
    left: -50px;
    height: 52px;
    padding: 10px;
    font-size: 15px;
    background-color: black;
    color: #868686;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    border:none;
    outline:none;
    align-items: center;
}

.busca button:hover {
    color: #5b5fc7;
}



.resultado {
    cursor: pointer;
    padding: 10px;
    width: 300px;
    height: 260px;
    display: none;
    border-radius: 9px;
    background: rgb(91, 95, 199);
    background: linear-gradient(0deg, rgb(37, 38, 80) 25%, rgba(0, 0, 0, 1) 80%);
    box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.781);
    position: relative;
    transform: translateY(0px);
    transition: all .2s ease-in;

}

.resultado:hover {
    transition: all .2s ease-in;
    transform: translateY(-10px);
}


.titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.info {
    display: flex;
    width: 100%;
}

.info .temp {
    flex: 1;
    text-align: center;
}

.info .vento {
    flex: 1;
    text-align: center;
}

.description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempTitulo,
.ventoTitulo,
.descriptionTitulo {
    color: #969696;
    font-size: 16px;
    margin-bottom: 5px;
}

.tempInfo,
.ventoInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;

}

.descriptionInfo {
    text-transform: capitalize;
    color: #FFF;
    font-weight: bold;
    font-size: 27px;
}

.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}

.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}



.carregando {
    color: #FFF;
    font-size: 20px;
    margin-top: 20px;
}

.erro {
    font-size: 20px;
    margin-top: 20px;
    color: red;
}